h1
{
color:red;
}
h2
{
color:blue;
}
h3
{
color:green;
}
img
{
height:100px
width:200px
border:2px solid black
}
body
{
background-color: #83a6a8;
}
div
{
display:flex;
justify-content:space-between
}